[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "home/tmux"]
	path = home/tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "home/vim/plugged/vim-sensible"]
	path = home/vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "home/vim/plugged/sonokai"]
	path = home/vim/plugged/sonokai
	url = https://github.com/sainnhe/sonokai.git
[submodule "home/ohmyzsh"]
	path = home/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "home/vim/plugged/vim-airline"]
	path = home/vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "home/zsh-autosuggestions"]
	path = home/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
